<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="user-scalable=no width=device-width, initial-scale=1">
    {% block description %}
    {% endblock description %}

    <title>
      {% block title %}
      {% endblock title %}
    </title>
    
    <link rel="stylesheet" href="/static/chaptersverses/css/responsive-navbar.css">
    {% block customstyles %}
    {% endblock customstyles %}

</head>
<body>
  {% include 'chaptersverses/navbar.html' %}
  {% block header %}
  {% endblock header %}

  {% block content %}
  {% endblock content %}

  {% block footer %}
  {% endblock footer %}
  <script src="/static/chaptersverses/js/responsive-navbar.js"></script>
</body>
</html>