<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="user-scalable=no width=device-width, initial-scale=1">
    <title>
      {% block title %}
               
      {% endblock %}
    </title>
    {% block description %}
    {% endblock description %}
    {% block headtags %}
    {% endblock headtags %}
    <style nonce="{{request.csp_nonce}}">
      /* Change the color of links on hover */
.collapse a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #0d6efd;
  color: white;
}
main{
  max-width: 96%;
}

    </style>
</head>
<body>
  {% block header %}
  {% endblock header %}

  {% block content %}
  {% endblock content %}

  {% block footer %}
  {% endblock footer %}

  {% block script %}
  {% endblock script %}

</body>
</html>