{% extends 'chaptersverses/base.html' %}
{% block description %}
<meta name="description" content="This user-friendly tool empowers you to effortlessly discover essential information about any book in the King James Version (KJV) of the Bible.">
{% endblock description %}

{% block title %}
Bible Verse Counter - The book of Psalms has 150 chapters and there are 176 verses in Psalm 119
{% endblock title %}

{% block customstyles %}
<link rel="stylesheet" href="/static/chaptersverses/css/styles.css">
{% endblock customstyles %}

{% block header %}
<header>
  <h1>
    <img src="/static/chaptersverses/images/icons/holy-bible.png">Bible Verse Counter
  </h1>
</header>
{% endblock header %}

{% block content %}
<main>
  
<!-- Container for dynamically created navigation bar -->
<div class = "topnav" id="navbar-container"></div>

<form method = "post" novalidate>
    {% csrf_token %}
    <section>
      <div id="btngetchapters" class="flex-col">
        <h2>Chapters</h2>
        <fieldset class="border border-secondary p-2">   
          <legend class="w-auto">How many chapters are in a given book?</legend>
      
          {{ form.bookname }}
          <button id="button-get-chapters" class="btn btn-primary">Get Chapters</button>
        </fieldset>
              
        {% if notdefaultbook %}
        <h3 class="alert alert-info">
          The book of <span class="whitetext">{{ bookname }}</span> has <span class="whitetext">{{ numofchaps }} chapters</span>.
        </h3>
        {% else %}
        <h3 class="alert alert-info">
          The book of <span class="whitetext">Psalms</span> has <span  class="whitetext">150 chapters</span>.
        </h3>
        {% endif %}
      <!--end first flex-col-->       
      </div>
       
    </section>

    <hr>
    <section>
      <div id="btngetverses" class="flex-col">
        <h2>Verses</h2>
        <fieldset class="border border-secondary p-2">   
          <legend class="w-auto">How many verses are in a given book and chapter?</legend> 
          
          {{ form.bookandchapter }}
          <button id="button-get-verses" class="btn btn-primary">Get Verses</button>
        </fieldset>
        {% if versefound %}
          {% if notdefaultbookandchapter %}
            <h3 class="alert alert-info">
              There are <span class="whitetext">{{ lastverse }} verses</span> in <span class="whitetext">{{ bookandchapter }}</span>
            </h3>
          {% else %}
            <h3 class="alert alert-info">
              There are <span class="whitetext">176 verses</span> in <span class="whitetext">Psalm 119</span>
            </h3>
          {% endif %}    
              
        {% endif %}  

      <!--end second flex-col-->  
      </div>
  </section>

</form>
</main>
{% endblock content %}

{% block footer %}
  <footer class="footer py-5">
    <div class="container">
      <div class="row">
         <div class="col-12 mx-auto text-center mt-1">
            <p class="mb-0 text-secondary">
              &copy2024 YourWebsite.com   
             </p>
          </div>
      
      </div>
    </div>
  </footer>    
{% endblock footer %}