{% extends 'chaptersverses/base.html' %}
{% block title %}
The book of Psalms has 150 chapters and there are 176 verses in Psalm 119
{% endblock %}
{% block description %}
<meta name="description" content="This user-friendly tool empowers you to effortlessly discover essential information about any book in the King James Version (KJV) of the Bible.">
{% endblock description %}
{% block headtags %}
   
<!--bootstrap minified reduced size css version-->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

<!--links to javascript files-->
<!--the latest version jquery 3.5 should come before bootstap-min.js-->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<!--Popper.js is a popular JavaScript library used for positioning tooltips and popovers in web applications.-->
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    

{% endblock headtags %}

{% block content %}
<style nonce="{{ request.csp_nonce }}">
    #book-name{
        height: 5vh;
        width: auto;
        margin-top: 2%;
    }
    #book-and-chapter{
        height: 5vh;
        width: auto;
        margin-top: 2%;
    }
    #button-get-chapters{
        height: 5vh;
        width: auto;
        margin-top: 2%;
    }
    #button-get-verses{
        height: 5vh;
        width: auto;
        margin-top: 2%;
    }
    body {
        padding: 0%;
        max-width: 100%;
    }

    .error {
        color:red;
    }
/* Add a black background color to the top navigation */
    .topnav {
      /*background-color: #333;*/
      overflow: hidden;
    }
    
    /* Style the links inside the navigation bar */
    .topnav a {
      float: left;
      color: blue;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
    }
    
    /* Change the color of links on hover */
    .topnav a:hover {
      /*background-color: #dddd;*/
      color: white;
    }
    
    /* Add a color to the active/current link */
    .topnav a.active {
      background-color: #0d6efd;
      color: white;
    }
    #chapters{
        padding-top: 10%;
    }
    #howmanychapters{
        padding-top: 10%;
    }
    #verses{
        padding-top: 10%;
    }

    #btngetchapters{
        border: 0px solid darkblue;margin: 2%;
    }
    #btngetverses{
        border:0px solid darkblue;margin: 2%;
    }
    
    h3{
        color: white;
    }
    .whitetext{
        color: rgb(0,123, 255);
    }
   
    hr {

        border: 5px solid darkblue;margin-top:2%;margin-bottom: 2%;
    }
    #table-row-bookname{
        margin-top: 2%;
    }
    </style>


<!-- Container for dynamically created navigation bar -->
<div class = "topnav" id="navbar-container"></div>

<form method = "post" novalidate>
    {% csrf_token %}
    <div id="btngetchapters" class="row">
        <div class="col-md-6">
            
              <h2>How many chapters are in a given book?</h2>
            <table id="table-row-bookname">
                <tr><td>
              {{ form.bookname }}
                </td><td>
              <button id="button-get-chapters" class="btn btn-primary">Get Chapters</button>
                </td></tr>
            </table>    
            
              {% if notdefaultbook %}
              <p><h3 class="alert alert-info">The book of <span class="whitetext">{{ bookname }}</span> has <span class="whitetext">{{ numofchaps }} chapters</span>.</h3></p>
              {% else %}
              <p><h3 class="alert alert-info">The book of <span class="whitetext">Psalms</span> has <span class="whitetext">150 chapters</span>.</h3></p>
              {% endif %}
           
        </div>
        <div class="col-md-6">
            <h2>&nbsp;</h2>
        </div>
    </div>

    <hr>

    <div id="btngetverses" class="row">
        <div class="col-md-9">
   
            <h2>How many verses are in a given book and chapter?</h2>
            <table id="table-book-and-chapter">
            <tr>
               <td>{{ form.bookandchapter }}</td>
               <td><button id="button-get-verses" class="btn btn-primary">Get Verses</button></td>
            </tr>
            </table>    
            {% if versefound %}
               {% if notdefaultbookandchapter %}
                 <p><h3 class="alert alert-info">There are <span class="whitetext">{{ lastverse }} verses</span> in <span class="whitetext">{{ bookandchapter }}</span></h3></p>
               {% else %}
                 <p><h3 class="alert alert-info">There are <span class="whitetext">176 verses</span> in <span class="whitetext">Psalm 119</span></h3></p>
               {% endif %}    
                  
               
           {% endif %}  
      
            
        </div>
        <div class="col-md-3">
            <h2>&nbsp;</h2>
        </div>
    </div>


</form>

{% endblock %}

{% block footer %}
  <footer class="footer py-5">
    <div class="container">
      <div class="row">
         <div class="col-12 mx-auto text-center mt-1">
            <p class="mb-0 text-secondary">
              &copy2024 MyWebsite.com   
             </p>
          </div>
      
      </div>
    </div>
  </footer>    
{% endblock %}



